{% extends "base.html" %}
{% block title %}Home - Event Photo Uploader{% endblock %}
{% block content %}
 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Pricing</h1>
        <p>Details about our pricing will be listed here.</p>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
     
    
    {% endblock %}